<h1>Plugin configuration</h1>
mode - {{ mode }}<br>
resultCount - {{ resultCount }}<br>
ShipperCompanyName - {{ ShipperCompanyName }}<br>
HScode - {{ HScode }}<br>
DeclarationType - {{ DeclarationType }}<br>
LabelSettings - {{ LabelSettings }}<br>
storedData - {{ storedData }}<br>